.infoBox{
    flex: 1;
}

.infoBox:not(:last-child){
    margin-right: 10px;
}

.infoBox__cases{
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: .5rem;
}

.infoBox--selected{
    border-top-width: 10px;
    border-top-style: solid;
}
.red{
    border-top-color: red;
}

.orange{
    border-top-color: orange;
}
.green{
    border-top-color: green;
}
.infoBox__total{
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}